
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened><mat-nav-list>
      <div class="logo py-4">
          <img src="../assets/logo.png"/>
      </div>
      <mat-divider></mat-divider>
      <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    
  
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashbord">
        <mat-icon>home</mat-icon>  Products
      </a>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/users"> 
        <mat-icon>supervisor_account</mat-icon> Users </a>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/feedbacks">
          <mat-icon>feedback</mat-icon> FeedBacks</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/mail">
        <mat-icon> mail_outline</mat-icon>Send Mail</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
         <mat-icon>settings</mat-icon> Settings </a>
    </mat-nav-list></mat-drawer>
    <mat-drawer-content>
      <mat-toolbar color="primary"  >
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        
        </button>
        <span>Admin Panel</span>
        <span class="example-spacer"></span>
  
        <div class="dropdown">
          <img src="./assets/user.jpg" alt="" class="user-image mr-1 p-2" />
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Administrateur
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button (click)="  auth.sedeConnecter()" class="dropdown-item" routerLink="/connexion" >Sign Out</button>
            <a  (click)="  auth.sedeConnecter()" routerLink="/" class="dropdown-item" >Home</a>
          </div>
        </div>
      </mat-toolbar>
<br>
     <div class="container">
        <div class="card shadow mb-4">
        <div class="card-body">
        <table class="table table-striped">
        <tr> <th>Email</th> <th>Report</th> </tr>
        <tbody *ngFor="let f of messages">
          <tr >
            <td>{{f.payload.doc.data().Email}}</td>
            <td>{{f.payload.doc.data().Text}}</td>
            </tr>
          </tbody>
        </table>
        </div>
        </div>
        </div>

    </mat-drawer-content>
  </mat-drawer-container>
