<!--<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Reset Password</h3>
  
        <p class="text-center">Please enter your email address to request a password reset.</p>
  
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
        </div>
  
        <div class="formGroup">
          <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="UserAuthService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
  
      <div class="redirectToLogin">
        <span>Go back to ? <span class="redirect" routerLink="/sign-in">Log In</span></span>
      </div>
  
    </div>
  </div>-->
  <body   [ngStyle]="{'background' : 'url(./assets/v.jpg)'}">
    <div class="login">
      <div class="login-header">
        <br>
        <h1>Reset Password</h1>
      </div>
      <div class="login-form">
    <br><br>
          <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
     

       <br><br>
          <button type="button"     (click)="UserAuthService.ForgotPassword(passwordResetEmail.value)"  class="btn  btn-outline-primary btn-lg  ">Send Email Verification</button>
       
        <br>
      </div>
    </div>
