
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened><mat-nav-list>
      <div class="logo py-4">
          <img src="../assets/logo.png"/>
      </div>
      <mat-divider></mat-divider>
      <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    
  
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashbord">
        <mat-icon>home</mat-icon>  Products
      </a>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/users"> 
        <mat-icon>supervisor_account</mat-icon> Users </a>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/feedbacks">
          <mat-icon>feedback</mat-icon> FeedBacks</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/mail">
        <mat-icon> mail_outline</mat-icon>Send Mail</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
         <mat-icon>settings</mat-icon> Settings </a>
    </mat-nav-list></mat-drawer>
    <mat-drawer-content>
      <mat-toolbar color="primary"  >
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        
        </button>
        <span>Admin Panel</span>
        <span class="example-spacer"></span>
  
        <div class="dropdown">
          <img src="./assets/user.jpg" alt="" class="user-image mr-1 p-2" />
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Administrateur
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button (click)="  auth.sedeConnecter()" class="dropdown-item" routerLink="/connexion" >Sign Out</button>
            <a  (click)="  auth.sedeConnecter()" routerLink="/" class="dropdown-item" >Home</a>
          </div>
        </div>
      </mat-toolbar>
      <div class="container">  
        <form id="contact" (ngSubmit)="onSubmit(f)" #f="ngForm">
          <h3>Quick Contact</h3>
          <h4>Contact Customers today , Stay In Touch </h4>

          <fieldset>
            <input ngModel name="Email" placeholder=" Email Address" type="email" tabindex="2" required>
          </fieldset>
  

          <fieldset>
            <textarea ngModel name="Text"placeholder="Type your Message Here...." tabindex="5" required></textarea>
          </fieldset>
          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
          </fieldset>
        </form>
       
        
      </div>   
    </mat-drawer-content>
  </mat-drawer-container>